:root {
    --amherstpurple: #5D3C85;
    --holyokeblue: #004976;
    --smithblue: #132C5A;
    --umassred: #881C1C;
}

h3{
    color: white;
}

.content-header {
    
}

.float-container {
    padding: 15px;
    display: flex;
    height: 200px;
}

.float-child {
    width: 20%;
    float: left;
    display: block;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
}

.float-child2 {
    width: 50%;
    float: left;
    display: block;
    padding: 25px;
    margin: 25px;
    border: 2px solid blue;
}

.spacer {
    width: 30px;
    background-color: white;
    height: 200px;
}

.spacer2 {
    width: 25%;
    height: 200px;
}

.amherst {
    flex-grow: 1;
    background-color: var(--amherstpurple);
}

.hampshire {
    flex-grow: 1;
    background-color: black;
}

.mount-holyoke {
    flex-grow: 1;
    background-color: var(--holyokeblue);
}

.smith {
    flex-grow: 1;
    background-color: var(--smithblue);
}

.umass-amherst {
    flex-grow: 1;
    background-color: var(--umassred);
}

.separator {
    background: white;
    height: 150px;
}

.sparator2 {
    background: orange;
    height: 30px;
    width: 100%;
}

.dashboard-child {
    width: 50%;
}